In [1]:
my_num = 1

In [2]:
print(my_num)

1

In [3]:
print(type(my_num))

<class 'int'>

In [4]:
my_string = "arun"

In [5]:
print(my_string)

arun

In [6]:
print(type(my_string))

<class 'str'>

In [7]:
my_var = "abc" # 1 # 1.0 #True

In [8]:
print(my_var)

abc

In [9]:
print(type(my_var))

<class 'str'>

In [47]:
my_list = [my_num, my_string]

In [14]:
# tuple -> (), list -> []
my_tuple = (my_num, my_string)

In [15]:
print(my_list)

[1, 'arun']

In [16]:
print(my_tuple)

(1, 'arun')

In [17]:
my_list[0] = 5
print(my_list)

[5, 'arun']

In [18]:
my_tuple[0] = 5
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [19]:
sett = set([0,1,1,2])
print(sett)

# deduplicates a list
my_list = list(set(my_list))

{0, 1, 2}

In [48]:
# Dict {key:value} store
my_dict = {"experience":1, "name":my_string, "Engineer" : my_var, "hobbies" : my_list, "dob,cityofbirth" : my_tuple}
ripu_dict = {"experience":10, "name":"RIPU", "Engineer" : my_var, "hobbies" : ["b","c"], "dob,cityofbirth" : my_tuple}
tej_dict = {"experience":20, "name":"Tejaswi", "Engineer" : my_var, "hobbies" : my_list, "dob,cityofbirth" : my_tuple}

In [49]:
print(my_dict)

{'experience': 1, 'name': 'arun', 'Engineer': 'abc', 'hobbies': [1, 'arun'], 'dob,cityofbirth': (1, 'arun')}

In [50]:
my_dict["experience"]

1

In [51]:
our_dict = {"arun":my_dict, "RIPU":ripu_dict}

In [52]:
our_dict

{'arun': {'experience': 1,
  'name': 'arun',
  'Engineer': 'abc',
  'hobbies': [1, 'arun'],
  'dob,cityofbirth': (1, 'arun')},
 'RIPU': {'experience': 10,
  'name': 'RIPU',
  'Engineer': 'abc',
  'hobbies': ['b', 'c'],
  'dob,cityofbirth': (1, 'arun')}}

In [53]:
our_dict["tejaswi"] = tej_dict

In [54]:
our_dict

{'arun': {'experience': 1,
  'name': 'arun',
  'Engineer': 'abc',
  'hobbies': [1, 'arun'],
  'dob,cityofbirth': (1, 'arun')},
 'RIPU': {'experience': 10,
  'name': 'RIPU',
  'Engineer': 'abc',
  'hobbies': ['b', 'c'],
  'dob,cityofbirth': (1, 'arun')},
 'tejaswi': {'experience': 20,
  'name': 'Tejaswi',
  'Engineer': 'abc',
  'hobbies': [1, 'arun'],
  'dob,cityofbirth': (1, 'arun')}}

In [55]:
our_dict["RIPU"]["hobbies"].append("Cooking")

In [56]:
our_dict

{'arun': {'experience': 1,
  'name': 'arun',
  'Engineer': 'abc',
  'hobbies': [1, 'arun'],
  'dob,cityofbirth': (1, 'arun')},
 'RIPU': {'experience': 10,
  'name': 'RIPU',
  'Engineer': 'abc',
  'hobbies': ['b', 'c', 'Cooking'],
  'dob,cityofbirth': (1, 'arun')},
 'tejaswi': {'experience': 20,
  'name': 'Tejaswi',
  'Engineer': 'abc',
  'hobbies': [1, 'arun'],
  'dob,cityofbirth': (1, 'arun')}}

In [29]:
for (k,v) in our_dict.items():
    if(v["experience"] == 20):
        print(k)
        print(v)

tejaswi
{'experience': 20, 'name': 'Tejaswi', 'Engineer': 'abc', 'hobbies': [5, 'arun', 'Cooking'], 'dob,cityofbirth': (1, 'arun')}

In [30]:
our_dict.items()

dict_items([('arun', {'experience': 1, 'name': 'arun', 'Engineer': 'abc', 'hobbies': [5, 'arun', 'Cooking'], 'dob,cityofbirth': (1, 'arun')}), ('RIPU', {'experience': 10, 'name': 'RIPU', 'Engineer': 'abc', 'hobbies': [5, 'arun', 'Cooking'], 'dob,cityofbirth': (1, 'arun')}), ('tejaswi', {'experience': 20, 'name': 'Tejaswi', 'Engineer': 'abc', 'hobbies': [5, 'arun', 'Cooking'], 'dob,cityofbirth': (1, 'arun')})])

Problem statement
1. create a dictionary called "car" with attributes "make","model","year","fuelTypes"
2. "make", "model" - type str
3. "year" - type int
4. "fuelTypes" - list of strings
5. create a list of "cars" by appending randomly generated "car" into it using further random data to make a "car"

In [80]:
import random
import string
import numpy as np
import json

letters = string.ascii_lowercase
years = np.arange(2000,2020)
fuelTypes = ["Petrol","Diesel"]
carcount = 5
def createCar():
    car = {"make":"","model":"","year":0,"fuelTypes":[]}
    car["make"] = "".join(random.choice(letters) for i in range(5))
    car["model"] = "".join(random.choice(letters) for i in range(2))
    car["year"] = random.choice(years)
    if(random.random()<0.5):
        car["fuelTypes"].append(fuelTypes[0])
    elif(random.random()>0.8):
        car["fuelTypes"]=fuelTypes
    else:
        car["fuelTypes"].append(fuelTypes[1])
    return car

cars=[]
for i in range(0,carcount):
    cars.append(createCar())

In [85]:
print(cars)

[{'make': 'ehmas', 'model': 'pp', 'year': 2015, 'fuelTypes': ['Diesel']}, {'make': 'uppln', 'model': 'oj', 'year': 2016, 'fuelTypes': ['Petrol']}, {'make': 'pgkdu', 'model': 'tt', 'year': 2013, 'fuelTypes': ['Petrol']}, {'make': 'tyfjr', 'model': 'lp', 'year': 2007, 'fuelTypes': ['Diesel']}, {'make': 'gkizi', 'model': 'jn', 'year': 2007, 'fuelTypes': ['Diesel']}]